# 의사결정회귀나무로 따릉이 데이터 예측하기

## 1.라이브러리 불러오기 (import)

### 데이터를 분석하기 위해 불러오고, 조작하는 등 핸들링을 하려면 도구가 필요하다.

In [1]:
import zipfile
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
!pip install wget
import wget

Requirement already satisfied: wget in c:\users\administrator\anaconda3\lib\site-packages (3.2)

## 2.파일 불러오기 (read_csv())

### 파이썬에서 데이터 파일을 불러오기 위해서 pandas 라이브러리를 이용한다.

In [2]:
wget.download('https://bit.ly/3gLj0Q6','따릉이.zip')
zip_file = zipfile.ZipFile("따릉이.zip")
zip_file.extractall()

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

100% [..............................................................................] 39208 / 39208

## 3. 행열갯수 관찰하기 (shape)

불러온 데이터의 행과 열의 갯수를 shape attribute로 관찰할 수 있다.

In [3]:
train.shape

(1459, 11)

In [4]:
test.shape

(715, 10)

## 4. 데이터 확인하기 (head())

### head() 메서드는 데이터 전부를 보여주지 않고 데이터의 상단부분만 출력하여 보여준다.

In [5]:
train.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0,49.0
1,6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0,159.0
2,7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0,26.0
3,8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0,57.0
4,9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0,431.0

In [6]:
test.head()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,0,7,20.7,0.0,1.3,62.0,954.0,0.041,44.0,27.0
1,1,17,30.0,0.0,5.4,33.0,1590.0,0.061,49.0,36.0
2,2,13,19.0,1.0,2.1,95.0,193.0,0.020,36.0,28.0
3,4,6,22.5,0.0,2.5,60.0,1185.0,0.027,52.0,38.0
4,5,22,14.6,1.0,3.4,93.0,218.0,0.041,18.0,15.0

## 5. 결측치 확인하기 (is_null())

### 결측치는 말 그대로 데이터에 값이 없는 것을 뜻한다. 줄여서 'NA'라고 표현하기도 하고, 다른 언어에서는 Null이란 표현을 많이 쓴다. Pandas레서는 결측치를 NaN 값으로 표현한다.

In [7]:
train.isnull()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5,count
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1454,False,False,False,False,False,False,False,False,False,False,False
1455,False,False,False,False,False,False,False,False,False,False,False
1456,False,False,False,False,False,False,False,False,False,False,False
1457,False,False,False,False,False,False,False,False,False,False,False
1458,False,False,False,False,False,False,False,False,False,False,False

In [8]:
test.isnull()

,id,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
0,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...
710,False,False,False,False,False,False,False,True,True,True
711,False,False,False,False,False,False,False,True,True,True
712,False,False,False,False,False,False,False,False,False,False
713,False,False,False,False,False,False,False,False,False,False
714,False,False,False,False,False,False,False,False,False,False

## 6. 데이터 결측치 확인하기 (info())

### Dataframe에 info() 매서드를 사용하면 피쳐들의 기본정보를 확인할 수 있다.

In [9]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      1459 non-null   int64
 1   hour                    1459 non-null   int64
 2   hour_bef_temperature    1457 non-null   float64
 3   hour_bef_precipitation  1457 non-null   float64
 4   hour_bef_windspeed      1450 non-null   float64
 5   hour_bef_humidity       1457 non-null   float64
 6   hour_bef_visibility     1457 non-null   float64
 7   hour_bef_ozone          1383 non-null   float64
 8   hour_bef_pm10           1369 non-null   float64
 9   hour_bef_pm2.5          1342 non-null   float64
 10  count                   1459 non-null   float64
dtypes: float64(9), int64(2)
memory usage: 125.5 KB

In [10]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 715 entries, 0 to 714
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   id                      715 non-null    int64
 1   hour                    715 non-null    int64
 2   hour_bef_temperature    714 non-null    float64
 3   hour_bef_precipitation  714 non-null    float64
 4   hour_bef_windspeed      714 non-null    float64
 5   hour_bef_humidity       714 non-null    float64
 6   hour_bef_visibility     714 non-null    float64
 7   hour_bef_ozone          680 non-null    float64
 8   hour_bef_pm10           678 non-null    float64
 9   hour_bef_pm2.5          679 non-null    float64
dtypes: float64(8), int64(2)
memory usage: 56.0 KB

## 7. 결측치 삭제하기, 대체하기 (dropna(), fillna())

### dropna()를 사용하면 결측치를 갖는 행을 Dataframe 객체에서 삭제한다. fillna()를 사용해 모든 결측치를 인자값으로 대체할 수도 있다.

In [11]:
test = test.fillna(0)
train = train.dropna()

## 8. 모델훈련 (fit())

### 모델을 선언한 후 fit(X,Y) 함수를 사용해서 모델을 훈련시킬 수 있다.
### X 데이터는 예측에 사용되는 변수들이고 Y 데이터는 예측결과 변수여야 한다.
### X 데이터는 train data 에서 drop([‘제외할컬럼명'], axis=1) 함수를 이용해 예측할 피쳐를 제외할 수 있다.
### Y 데이터는 train[‘예측할컬럼명'] 으로 인덱싱할 수 있다.

In [12]:
X_train = train.drop(['count'], axis=1)
Y_train = train['count']

model = DecisionTreeRegressor()
model.fit(X_train, Y_train)

DecisionTreeRegressor()

## 9. 테스트예측 (predict())

### 훈련된 모델에서 predict() 매서드에 예측하고자 하는 data를 인자로 넣어주게 되면 해당 결과 array를 할당할 수 있다.

In [13]:
pred = model.predict(test)

## 10. 제출파일생성 (to_csv())

### 백지 답안지인 submission.csv 파일을 불러와서 예측결과를 덧입혀주고 csv 파일로 내보낸다.

In [14]:
submission = pd.read_csv('submission.csv')
submission['count'] = pred
submission.to_csv('sub.csv',index=False)